{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }], //支持class语法
        "@babel/plugin-transform-runtime", //支持promise的语法 Generator语法
        "@babel/plugin-syntax-dynamic-import" //支持import()函数
    ],
}